<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/a46a172a-aaba-4392-9fcf-cbd28afb3ecc/v3/index.json" />
  </packageSources>
</configuration>